In [7]:
numero1= 5
numero2=10
suma = numero1 + numero2
print("La suma de los 2 numeros es : "+ str(suma))
print("La multiplicacion"+ str(numero1 * numero2))
a = input("Vmoas a sumar 2 numeros Introduce el primer numero")
b = input("Vamos a sumar 2 numeros Introduce el segundo numero")
print("El resultado de la suma es " +str(int(a)+ int(b)))

La suma de los 2 numeros es : 15
La multiplicacion50
Vmoas a sumar 2 numeros Introduce el primer numero2
Vamos a sumar 2 numeros Introduce el segundo numero2
El resultado de la suma es 22

In [1]:
mi_lista = [1,2,3,4,5]
print("la lista es "+str(mi_lista))
for elemento in mi_lista:
    print(str(elemento))

la lista es [1, 2, 3, 4, 5]
1
2
3
4
5

In [4]:
i=1
s=0
while i <=10:
    s=s+i*2
    i=i+1
print("sum:",s)

sum: 110

In [11]:
lista_marcas_coches = ["audi","ford","citroen","ferrari","seat"]
for indice in range(len(lista_marcas_coche)):
                      print(str(indice)+" marca "+lista_marcas_coches[indice])

0 marca audi
1 marca ford
2 marca citroen
3 marca ferrari
4 marca seat